:root {
    --blue: #058bff;
    --dark_blue: #162859;
    --white: #ffffff;
    --red: #e55b78;
    --light_grey: #d3d3d3;
    --pink: #ffe8ee;
    --light_green: #eaf9f4;
    --light_yellow: #fff8e6;
}
* {
    margin: 0;
    padding: 0;
}
body {
    font-family: sans-serif;
    font-size: 16px;
    color: #162859;
}

/* header section start here */
header {
    border-bottom: 0.5px solid var(--light_grey);
}
header .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 0 auto;
    padding: 10px 0;
    /* border: 1px solid var(--red); */
}
header .wrapper .logo {
    width: 10%;
}
header .wrapper .logo img {
    width: 100%;
}
.wrapper ul {
}
.wrapper ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    padding: 5px 10px;
    border-radius: 5px;

    /* font-weight: 600; */
}
.wrapper ul li:last-child {
    margin-right: 0;
    padding-right: 0;
}

.wrapper ul li a {
    text-decoration: none;
    font-size: 16px;
    color: var(--dark_blue);
}
.wrapper ul li a:hover {
    color: var(--blue);
}

/* header section end here */

/* business section start here */
.business_container {
    /* border: 1px solid var(--red); */
    width: 60%;
    margin: 0 auto;
    text-align: center;
    /* padding: 20px; */
}
.business_container .business_content h1 {
    font-size: 45px;
    padding: 0 100px;
}
.business_container .business_content h1 span {
    color: var(--blue);
}

.business_container .business_image {
    width: 50%;
    margin: auto;
}
.business_container .business_image img {
    width: 100%;
}
/* business section end here */

/* feature_section start here */
.feature_section {
}
.feature_section .wrapper {
    display: flex;
    padding: 30px;
    justify-content: center;
    align-items: center;
}
.feature_section .wrapper div {
    width: 30%;
    padding: 20px;
}
.feature_section .wrapper div h1 {
    font-size: 45px;
}
.heading_one {
    color: var(--red);
}

/* feature_section end here */

/* card_section start here  */
.card_section {
    /* width: 80%; */
    display: flex;
    justify-content: center;
    margin: 50px 0;
}
.card {
    width: 20%;
    padding: 10px;
    margin-right: 50px;
}
.card1 {
    background-color: var(--pink);
}
.card2 {
    background-color: var(--light_green);
}
.card3 {
    background-color: var(--light_yellow);
}
.card:last-child {
    margin-right: 0;
}
.card_header {
    margin: 0 auto;
    margin-bottom: 20px;
}
.card_header img {
    width: 100%;
    height: 200px;
}
.card_body {
    padding: 10px 10px;
}
.card_body h4 {
    padding-bottom: 10px;
}
.card_body p {
}
.card_header1 {
    background-color: var(--pink);
}
.card_header2 {
}
.card_header3 {
}
/* card_section end here  */

/* footer section start here  */
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--blue);
    color: var(--light_grey);
    padding: 30px 0;
}
footer p {
}
footer p span {
    color: var(--white);
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 550;
}

/* footer section end here  */
